.page-service {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.5rem;
        line-height: 1.6;
        margin-bottom: 40px;
        font-weight: 400;
        color: $steel;
      }
    }
  }
}
