.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  h1 {
    color: $black;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    @include media-breakpoint-up(md) {
      width: 90%;
      font-size: 64px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 72px;
    }
  }
  h2 {
    width: 90%;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 32px;
    color: $steel;
    font-family: $font-family-base;
    font-weight: 400;
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
    color: $steel;
    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
